<?php if (empty($session)) { 
	
 	echo "<script>location.href='login';</script>";
 	die;
	
 	} ?>
	
	
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="m.boqii.com">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>&#x6211;&#x7684;&#x8D26;&#x6237;</title>
<link href="__ROOT__/login/css/fc10f6847e0c38498fbb.vendors.min.css"  rel="stylesheet">
<link href="__ROOT__/login/css/7c655f6dde1d6dea5352.myaccount.min.css"  rel="stylesheet">
</head>
<body>
<div id="wrap"><header><div class="boqi-header">
<div class="boqi-header-div">
<h1 class="page-title">&#x6211;&#x7684;&#x8D26;&#x6237;</h1>
<a href="personal.html"><i class="back-icons icon-back"></i></a>
<!-- <a href="{:url('login/reg')}" tppabs="http://s.boqii.com/reg.html" class="dl register_user">&#x6CE8;&#x518C;</a> -->

</div></div></header><ul class="my-memu-list bgwhite marginTop12"><li><div>

<a href="javascript:;" class="withdraw">&#x6211;&#x7684;&#x4F59;&#x989D; <span class="c-orange bold fs30"><em class="balance">666.66</em>&#x5143;</span></a></div></li><li><div>

<a href="mybean.html" >&#x6211;&#x7684;&#x6CE2;&#x5947;&#x8C46; <span class="c-orange bold fs30"><em class="boqiidou">666</em>&#x4E2A;</span></a></div></li><li><div>

<a href="mybocoin.html" >&#x6211;&#x7684;&#x5575;&#x5E01; <span class="c-orange bold fs30"><em class="boqiibocoin">666</em>&#x4E2A;</span></a></div></li></ul>

<ul class="my-memu-list bgwhite marginTop12">
<li>
<div>
<a href="personage.html" class="tel_modify">&#x4E2A;&#x4EBA;&#x4FE1;&#x606F; <span class="tel"></span></a></div>
</li>

<li>
<div>
<a href="javascript:;" class="tel_modify">&#x624B;&#x673A;&#x53F7; <span class="tel"><?php echo substr_replace($session[2] , '****', 3, 4); ?></span></a></div>
</li>
<li><div>

<a href="clogintel.html" >&#x767B;&#x5F55;&#x5BC6;&#x7801; 
<span class="">&#x4FEE;&#x6539;</span></a></div></li><li><div>
<a href="paypwd.html" >&#x652F;&#x4ED8;&#x5BC6;&#x7801; 
<span class="paypasswd"></span></a></div></li>
<li><div>
<a href="thirdbind.html" >&#x7B2C;&#x4E09;&#x65B9;&#x8D26;&#x6237;&#x7ED1;&#x5B9A; 
<span class="">&#x7B2C;&#x4E09;&#x65B9;&#x8D26;&#x6237;&#x7ED1;&#x5B9A;</span></a></div></li></ul></div>
<script data-fixed="" defer="defer" async="true" type="text/javascript" src="7xq22v.com2.z0.glb.qiniucdn.com/h5shopga.js" ></script>
<script src="__ROOT__/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
var _py = _py || []; _py.push(['a', '83s..kWM5IA5gIUIhz2_VJGhaYX']);
   _py.push(['domain','http://s.boqii.com/stats.ipinyou.com']); _py.push(['e','']);
   -function(d) {
     var s = d.createElement('script'),
     e = d.body.getElementsByTagName('script')[0];
     e.parentNode.insertBefore(s, e),
     f = 'https:' == location.protocol;
     s.src = (f ? 'https' : 'http') + '://'+(f?'http://s.boqii.com/fm.ipinyou.com':'http://s.boqii.com/fm.p0y.cn')+'/j/adv.js';
   }(document);
   </script>
   <noscript>
   <img src="__ROOT__/login/stats.ipinyou.com/adv.gif-a=83s..kWM5IA5gIUIhz2_VJGhaYX&e=.gif"  style="display:none">
   </noscript>
   <script src="js/fc194781f111c9adf2b8.vendors.min.js" ></script>
   <script src="__ROOT__/login/js/2a339b86bcdd6b667202.myaccount.min.js" >
   	
   </script>
   </body>
   </html>