<!doctype html><html><head>
<meta charset="utf-8">
<meta name="author" content="m.boqii.com">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="mobile-agent" content="format=html5; url=http://s.boqii.com"><title>&#x9A8C;&#x8BC1;&#x624B;&#x673A;</title>
<link href="__ROOT__/login/css/fc10f6847e0c38498fbb.vendors.min.css"  rel="stylesheet">
<link href="__ROOT__/login/css/4bac17504591860b7aa9.validate_tel.min.css"  rel="stylesheet">
</head>
<body>
<div id="wrap"><header><div class="boqi-header"><div class="boqi-header-div"><h1 class="page-title">&#x5B89;&#x5168;&#x9A8C;&#x8BC1;</h1><a href="javascript:;"><i class="back-icon icon-back"></i></a></div></div></header><div class="body_padding"><div class="yanzheng validate_tel_tyz padding_left"><input type="text" name="t_yzm" class="t_yzm" placeholder="&#x56FE;&#x5F62;&#x9A8C;&#x8BC1;&#x7801;"> <img src="" id="yanzheng_imgs" alt=""></div><div class="reg"><div class="tel padding_left"><input type="text" style="background:#FFF" class="telphone" disabled="disabled" placeholder=""> <input type="button" class="yzm_btn" value="&#x83B7;&#x53D6;&#x9A8C;&#x8BC1;&#x7801;"></div></div><div class="reg_yz padding_left"><input type="text" class="yzm" placeholder="&#x8F93;&#x5165;&#x9A8C;&#x8BC1;&#x7801;"></div></div><div class="reg_btn"><a href="javascript:;">&#x9A8C; &#x8BC1;</a></div><div class="login_pass">
<a href="javascript:;" class="paswd_validate">&#x901A;&#x8FC7;&#x652F;&#x4ED8;&#x5BC6;&#x7801;&#x9A8C;&#x8BC1;</a></div>
<div class="try_voice"><span>&#x6536;&#x4E0D;&#x5230;&#x9A8C;&#x8BC1;&#x7801;&#xFF1F;</span> <span><a href="javascript:;" id="btnVoice">&#x8BD5;&#x8BD5;&#x8BED;&#x97F3;&#x64AD;&#x62A5;</a></span></div><div class="home_icon"><a href="index.html" ><img src="__ROOT__/login/7xq22v.com2.z0.glb.qiniucdn.com/home_icon.png" ></a></div></div><div class="overlay">
<section class="modal modal-normal"><div class="modal-bd">&#x8BF7;&#x9000;&#x51FA;&#x65E0;&#x75D5;&#x6D4F;&#x89C8;&#x6A21;&#x5F0F;</div><div class="modal-ft"><a href="javascript:;" class="left-btn">&#x786E;&#x5B9A;</a></div>
</section></div>
<script data-fixed="" defer="defer" async="true" type="text/javascript" src="__ROOT__/login/7xq22v.com2.z0.glb.qiniucdn.com/h5shopga.js" ></script>
<script src="js/fc194781f111c9adf2b8.vendors.min.js" ></script>
<script src="js/b67004a39c84fafadf83.validate_tel.min.js" ></script></body></html>
<script src="__ROOT__/js/jquery-2.1.1.min.js"></script>