<!doctype html><html><head><meta charset="utf-8"><meta name="author" content="m.boqii.com"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><meta name="format-detection" content="telephone=no"><title>&#x6C38;&#x6500;&#x96C6;&#x56E2;&#x6CE2;&#x5947;&#x7528;&#x6237;</title><link href="__ROOT__/login/css/fc10f6847e0c38498fbb.vendors.min.css"  rel="stylesheet"><link href="__ROOT__/login/css/384f09c6928d62f79329.reg.min.css"  rel="stylesheet"></head><body><div id="wrap"><div class="list_top box_shadow"><div class="top_back"><a href="javascript:history.back()"></a></div><div class="details_title">&#x6CE8;&#x518C;&#x7528;&#x6237;</div><div class="add_bc"><a href="login.html"  class="dl">&#x767B;&#x5F55;</a></div></div><div class="add_address_body">
<div class="reg">
<!--<div class="yanzheng">

 <input type="text" name="t_yzm" class="t_yzm" placeholder="&#x56FE;&#x5F62;&#x9A8C;&#x8BC1;&#x7801;"> 
<img src="" id="yanzheng_imgs" alt="">
</div>-->

<div class="tel no_radius"> 
<em></em> 
<input type="tel" name="UserName" id="uname" placeholder="&#x7528;&#x6237;&#x540D;">
</div>
<div class="tel no_radius"> 
<em></em> 
<input type="tel" name="UserName" id="utel" placeholder="&#x624B;&#x673A;&#x53F7;">
</div>

<div class="pass">
<em></em> 
<input type="password" name="Password" id="upassword" placeholder="6-20&#x4F4D;,&#x5EFA;&#x8BAE;&#x6570;&#x5B57;&#x3001;&#x5B57;&#x6BCD;&#x3001;&#x7B26;&#x53F7;&#x7EC4;&#x5408;">
<p class="isSee"></p></div></div>

<div class="reg_yz">

<input type="text" class="yzm"  name="AuthCode" id="yzmcode" style='float:left'; placeholder="&#x8F93;&#x5165;&#x9A8C;&#x8BC1;&#x7801;"> 

<!-- <input type="button" class="yzm_btn" id="yzmsend" onclick="settime(this)"  value="&#x83B7;&#x53D6;&#x9A8C;&#x8BC1;&#x7801;"> -->
<input type="button" class="yzm_btn" id="yzmsend" value="&#x83B7;&#x53D6;&#x9A8C;&#x8BC1;&#x7801;" onclick="settime(this)" />

</div>

<div class="reg_btn">

<a href="javascript:;" id="reglogin">&#x6CE8; &#x518C;</a></div>

<div class="reg_ty"><div class="checkbox current check_all"></div><p>&#x6211;&#x5DF2;&#x9605;&#x8BFB;&#x5E76;&#x540C;&#x610F; 
<a href="agreement.html" >
<span>&#x300A;&#x6C38;&#x6500;&#x96C6;&#x56E2;&#x670D;&#x52A1;&#x534F;&#x8BAE;&#x300B;</span></a>
</p></div></div><div class="try_voice"><span>&#x6536;&#x4E0D;&#x5230;&#x9A8C;&#x8BC1;&#x7801;&#xFF1F;</span> <span><a href="javascript:;" id="btnVoice">&#x8BD5;&#x8BD5;&#x8BED;&#x97F3;&#x64AD;&#x62A5;</a></span></div><div class="error"></div></div><div class="overlay"><section class="modal modal-normal"><div class="modal-bd">&#x8BF7;&#x9000;&#x51FA;&#x65E0;&#x75D5;&#x6D4F;&#x89C8;&#x6A21;&#x5F0F;</div><div class="modal-ft"><a href="javascript:;" class="left-btn">&#x786E;&#x5B9A;</a></div></section></div><script data-fixed="" defer="defer" async="true" type="text/javascript" src="__ROOT__/login/7xq22v.com2.z0.glb.qiniucdn.com/h5shopga.js" ></script><script type="text/javascript">var _py = _py || []; _py.push(['a', '83s..kWM5IA5gIUIhz2_VJGhaYX']);
   _py.push(['domain','http://s.boqii.com/stats.ipinyou.com']); _py.push(['e','']);
   -function(d) {
     var s = d.createElement('script'),
     e = d.body.getElementsByTagName('script')[0];
     e.parentNode.insertBefore(s, e),
     f = 'https:' == location.protocol;
     s.src = (f ? 'https' : 'http') + '://'+(f?'http://s.boqii.com/fm.ipinyou.com':'http://s.boqii.com/fm.p0y.cn')+'/j/adv.js';
   }(document);
   </script>
   <noscript>
   <img src="stats.ipinyou.com/adv.gif-a=83s..kWM5IA5gIUIhz2_VJGhaYX&e=.gif"  style="display:none"></noscript>
   <script src="js/fc194781f111c9adf2b8.vendors.min.js" >
   </script><script src="js/bb9b0fb9d773de2844e1.reg.min.js" ></script>
   </body></html>
   <script src="__ROOT__/js/jquery-2.1.1.min.js"></script>
   <script>
        var countdown=5; 
        function settime(val) { 
        if (countdown == 0) { 
            val.removeAttribute("disabled"); 
            val.value="获取验证码"; 
            countdown = 5; 
            } else { 
            val.setAttribute("disabled", true); 
            val.value= countdown + "秒后可重新发送"; 
            countdown--; 
            } 
            setTimeout(function() { 
            settime(val) 
            },1000) 
        } 

        $('#yzmsend').click(function(val){ 
            // console.log();
            // alert(1);
            return;
            var utel = $('#utel').val();
            var rtel = /^[1][3578][0-9]{9}$/;
            if(!rtel.test(utel))
            {
                alert('手机格式不正确');
                return false;
            }
            $.ajax({
                type:'post',
                url:"{:URL('login/regyzmsend')}",
                data:{'utel':utel},
                success:function(msg){
                    if(msg == true){
                        alert('发送成功！');
                    }
                    else
                    {
                        alert('发送失败,请重新发送！');
                    }
                }
            })
        })

        $('#reglogin').click(function(){
            // alert(1);return;
            var yzmcode = $('#yzmcode').val();
            if (yzmcode == '') {
                alert('验证码不能为空');
                return false;
            };
            var uname = $('#uname').val();
            if (uname == '') {
                alert('用户名不能为空！');
            };
        	var utel = $('#utel').val();
            var rtel = /^[1][3578][0-9]{9}$/;
            if(!rtel.test(utel))
            {
                alert('手机输入有误');
                return false;
            }
            
            var upassword = $('#upassword').val();
            var reg = /^\w{6,20}$/;
            if(!reg.test(upassword))
            {
                alert('密码格式不符');
                return false;
            }
            $.ajax({
                type:'post',
                url:"{:URL('login/reg_do')}",
                data:{'utel':utel,'upassword':upassword,'yzmcode':yzmcode,'uname':uname},
                success:function(msg){
                    if (msg == 1) 
                    	{
                    		alert('注册成功！');
                    		location.href="{:url('login/login')}";
                    	}
                    	else if (msg == 2) 
                    	{
                    		alert('注册失败,请重新注册');
                    		return false;
                    	}
                    	else
                    	{
                    		alert('此手机号已经注册，请更换手机号注册');
                    		location.href="{:url('login/reg')}";
                    	}
                }
            })
        })

        
   </script>
  











